# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
**/node_modules/
node_modules/

# Build
**/dist/
dist/
dist-ssr/

# Environment configurations
**/.env
**/.env.local
**/.env.development
.env
.env.local
.env.development

# Dynamic and Media Uploads
**/uploads/
uploads/

# OS/Editor Settings
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
